{% extends 'base.html.twig' %}


{% block body %}
<h1>PROVINCIA</h1>


<ul>
    {% for provincia in provincias %}
        <li>{{ provincia.nombre}}{#{{dump(producto.categoria)}}#}</li>
        


    {% endfor %}
     
</ul>
<a href="{{path('mundo')}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Home</a>
{% endblock %}
