{% extends 'base.html.twig' %}

{% block body %}
<h1>REGION</h1>

<ul>
    {% for region in regiones %}
        <li>{{ region.nombre}}--{{ region.idioma}}</li>
    {% endfor %}    
</ul>
<a href="{{path('mundo')}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Home</a>
{% endblock %}
